* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
	margin:0;
	padding: 0;
  } 
  
          h1{
			  text-align: center;
			  margin-bottom: 70px;
          }
          h2{
              float:right;
              text-align: center;
              color: black;
			  margin: 0;
              border:1px solid black;
              padding: 10px;
  
          }
          section{
              width:90%;
              border:10px solid white;
          }
          div{
              background-color: darkgray;
              border: 1px solid black ;
              position: relative;
              height:200px;
              margin-left: auto;
              margin-right: auto;
			  margin-top: 5px;
			  margin-bottom: 0;
              
          }
          #one>div>h2{
                  background-color:palevioletred;
          }
          #two>div>h2{
              background-color:brown;
              color: white;
          }
          #three>div>h2{
              background-color:khaki;
          }
  
          p{
              overflow: auto;  
              padding: 5px;
	          border: none;
	          margin: 0px;
	          height: 200px;
              overflow: auto;
                position: relative;
                clear: right;
          }
          
        @media(min-width: 992px){
            section{
                float:left;
                width:33.3%;
            }
           
        }
        @media(min-width: 768px) and (max-width: 991px){
            section{
                float: left;
                
            }
           
            #one{
                width:50%;
            }
            #two{
                width:50%;
            }
            #three{
                width:100%;
            }
  
        }
        @media(max-width:767px){
            section{
                  width:100%;
            }
            p{
                height:100px;
                overflow: auto;
            }

        }
  